@mixin flex_row($margin-bottom: $mrgn-bottom, $gap: $flex-gap) {
  display: flex;
  margin-bottom: $margin-bottom;
  gap: $gap;
}

//////////TEST

@mixin test-gradient {
  background-image: linear-gradient(to right, red, green);
}
