%containers-placeholder {
  //i decide write at least one placeholder
  max-width: $grid-width;
  margin: 0 auto;
}

//all site is transferring from float layout to flex
//so i need slightly different containers

.row {
  background-color: $color-grey-light-1;
  @extend %containers-placeholder;
  @include flex_row(0);

  //this row in _home.scss section-about_row
}

.container {
  @extend %containers-placeholder;
  @include flex_row;

  justify-content: space-around;
  align-items: center;

  padding: 0 $padding-left-right;

  @include respond(w-1100) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15vw;
  }
  @include respond(phone) {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 25vw;
  }
}

.container-center {
  @extend %containers-placeholder;
}

.container-stories-flex {
  @extend %containers-placeholder;
  @include flex_row(8rem, 8rem);

  flex-direction: column;
  align-items: center;
}

.radio-flex {
  @include flex_row(0, 2rem);
  padding-bottom: 2rem;
  align-items: center;
}

.container-footer {
  @extend %containers-placeholder;
  @include flex_row(0, 2rem);
  justify-content: space-between;
}

.container-pop-up {
  @extend %containers-placeholder;
}
