.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-grey-dark-3, 0.8);
  z-index: 1000; //z 10-00

  &__content {
    @include absolute_center;
    // margin: 0 auto;

    width: 75%;
    //height: 25rem; //just for test
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &__left {
    flex-basis: 33.33%;
  }

  &__right {
    flex-basis: 66.67%;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: $font-size-small;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    hyphens: auto;
  }
}
